body {
    background-color: hsl(0, 0%, 98%);
    font-family: "Poppins", sans-serif;
}
main {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 98%);
    font-family: "Poppins", sans-serif;
}
h1 {
    font-weight: 200 !important;
    color: hsl(234, 12%, 34%);
    font-size: 2rem !important;
}
h2 {
    font-weight: 600 !important;
    color: hsl(234, 12%, 34%);
    font-size: 2rem !important;
}
h3 {
    color: hsl(234, 12%, 34%);
}
.texts {
    margin: 2rem;
    color: hsl(229, 6%, 66%);
}
.container {
    text-align: left;
    color: hsl(229, 6%, 66%);
    display: flex;
    flex-direction: column;
}

.supervisorbox {
    background-color: white;
    border-top: solid 3px hsl(180, 62%, 55%);
    width: 90%;
    margin: auto;
    padding: 2rem;
    box-shadow: 0 10px 10px rgba(0,0,0, .35);
}

.builderbox {
    background-color: white;
    border-top: solid 3px hsl(0, 78%, 62%);
    width: 90%;
    margin: 1.5rem auto;
    padding: 2rem;
    box-shadow: 0 10px 10px rgba(0,0,0, .35);
}
.karmabox {
    background-color: white;
    border-top: solid 3px hsl(34, 97%, 64%);
    width: 90%;
    margin: 1.5rem auto;
    padding: 2rem;
    box-shadow: 0 10px 10px rgba(0,0,0, .35);
}
.calcbox {
    background-color: white;
    border-top: solid 3px hsl(212, 86%, 64%);
    width: 90%;
    margin: 1.5rem auto;
    padding: 2rem;
    box-shadow: 0 10px 10px rgba(0,0,0, .35);
}
img {
    margin-left: auto;
    display: block;
}

@media only screen and (min-width: 748px) {
    .container {
        display: flex;
        flex-direction: row;
    }
    .colbox {
        display: flex;
        flex-direction: column;
    }
    .calcbox {
        margin: auto;
        width: 40%;
    }
    .supervisorbox {
        width: 40%;
    }
    .builderbox {
        width: 90%;
    }
    .karmabox {
        width: 90%;
    }
    .texts p{
        width: 40%;
        margin: auto;
    }
}